body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: hsl(0, 0%, 96%);
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.7em;
}

.map {
  position: relative !important;
  height: 500px !important;
}
